.teams-page {
  padding: 2rem;
  background-color: #e6edf7;
  display: grid;
  gap: 3rem;
}

.toolbar {
  background-color: #e6edf7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  align-items: center;
  width: 100%;
}

.search-field,
.filter-field {
  border-radius: 0.4rem;
}

.search-field {
  flex-grow: 1;
  min-width: 12rem;
}

.filter-field {
  min-width: 10rem;
}

.section-title {
  display: flex;
  align-items: center;
  gap: 0.6em;
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.team-section {
  padding: 1rem 0;
}

.team-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.edit-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 10;
  color: rgba(0, 0, 0, 0.54);
  border: none;
  background: transparent;
  box-shadow: none;
  padding: 0;
}

.edit-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

