<mat-card class="task-card">
  <!-- Top Icons: Edit and Unassign -->
  <mat-icon
    class="edit-icon"
    color="primary"
    aria-label="Edit Task"
    (click)="editTask()"
    matTooltip="Edit Task"
    >edit</mat-icon
  >

  <mat-icon
    class="unassign-icon"
    color="warn"
    aria-label="Unassign Task"
    (click)="unassign()"
    matTooltip="Unassign Yourself"
    >person_remove</mat-icon
  >

  <mat-card-title [title]="task.title">{{ task.title }}</mat-card-title>

  <mat-card-content>
    <p [title]="task.description">{{ task.description }}</p>

    <section class="task-info">
      <small>
        <mat-icon inline>event</mat-icon> Due:
        {{ task.dueDate | date : "mediumDate" }}
      </small>
      <mat-chip
        class="status-chip"
        [ngClass]="task.status.replace(' ', '-').toLowerCase()"
      >
        {{ task.status }}
      </mat-chip>
    </section>

    <footer class="task-footer">
      <mat-icon inline>group</mat-icon> {{ task.team }}
    </footer>
  </mat-card-content>

  <!-- Bottom More Info Icon -->
  <mat-icon
    class="more-info-icon"
    color="primary"
    aria-label="More Info"
    (click)="openDetails()"
    matTooltip="More Info"
    >info</mat-icon
  >
</mat-card>
