<mat-card class="tasks-card">
  <mat-card-header>
    <section class="header-content">
      <button mat-icon-button (click)="goBack()" class="back-icon">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <section class="header-text">
        <mat-card-title>IT - Open Tasks</mat-card-title>
        <mat-card-subtitle>{{ tasks.length }} tasks</mat-card-subtitle>
      </section>
    </section>
  </mat-card-header>

  <mat-card-content>
    <ul class="tasks-list">
      <li *ngFor="let task of tasks" class="task-item">
        <article class="task-card">
          <header class="task-header">
            <section class="task-header-top">
              <h3 class="task-title">{{ task.name }}</h3>
              <nav class="task-icons">
                <button mat-icon-button (click)="editTask(task)" aria-label="Edit Task">
                  <mat-icon>edit</mat-icon>
                </button>
              </nav>
            </section>
            <p class="task-description">{{ task.description }}</p>
          </header>

          <section class="task-details">
            <section class="detail-item">
              <mat-icon class="detail-icon">person</mat-icon>
              <p>{{ task.assignedToUsername || 'Unassigned' }}</p>
            </section>
            <section class="detail-item">
              <mat-icon class="detail-icon">calendar_today</mat-icon>
              <p>Due: {{ task.dueDate | date : "mediumDate"}}</p>
            </section>
          </section>

          <footer class="task-footer">
            <mat-chip [ngClass]="task.currentStatusName.replace(' ', '-').toLowerCase()" class="status-chip">
              {{ task.currentStatusName }}
            </mat-chip>

            <section class="task-actions">
              <button mat-stroked-button color="primary" (click)="markComplete(task)" *ngIf="task.currentStatusName === 'Pending'" class="action-button">
                <mat-icon>check_circle</mat-icon>
                Complete
              </button>
            </section>
          </footer>
        </article>
      </li>
    </ul>
  </mat-card-content>
  <ng-template [ngIf]="!tasks || tasks.length === 0">
      <p class="no-tasks-message">Your team has tasks yet or you don't have access to the team's tasks</p>
    </ng-template>

  <mat-card-actions class="card-actions">
    <button mat-raised-button (click)="addTask()" class="action-button">
        <mat-icon>add</mat-icon>
        Add Task
      </button>
  </mat-card-actions>
</mat-card>
