@import '@angular/material/prebuilt-themes/indigo-pink.css';

:root {
  --primary-color: #212121;      
  --accent-color: #37474f;     
  --background-color: #fafafa;  
  --text-color: #121212;     
  --nav-background: #f0f0f0;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  background: var(--background-color);
}

* {
  box-sizing: border-box;
}
