<section class="auth-container">
  @if (!showTotpVerification) {
    <mat-card class="auth-card">
      <mat-card-header>
        <mat-card-title class="welcome-title">Welcome back</mat-card-title>
      </mat-card-header>
      
      <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()" class="auth-form">
          
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Username</mat-label>
            <input maxlength="30" matInput formControlName="username">
            @if (loginForm.get('username')?.invalid && loginForm.get('username')?.touched) {
              <mat-error>{{ getErrorMessage('username') }}</mat-error>
            }
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Password</mat-label>
            <input maxlength="30" matInput 
                   formControlName="password" 
                   [type]="hidePassword ? 'password' : 'text'"
                   autocomplete="current-password">
            <button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword">
              <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
              <mat-error>{{ getErrorMessage('password') }}</mat-error>
            }
          </mat-form-field>

          <button mat-raised-button 
                  color="primary" 
                  type="submit" 
                  class="full-width submit-button"
                  [disabled]="isLoading || loginForm.invalid">
            @if (!isLoading) {
              <span>Sign in</span>
            } @else {
              <span>Signing in...</span>
            }
          </button>
        </form>
      </mat-card-content>

      <mat-card-actions align="end">
        <p class="switch-text">
          Don't have an account? 
          <a mat-button color="primary" routerLink="/signup">Sign up</a>
        </p>
      </mat-card-actions>
    </mat-card>

  } @else {
    <app-totp
        [username]="loginForm.value.username" cardTitle="Verify Your Identity"
        (verify)="onVerifyTotpSubmit($event)">
    </app-totp>
  }

</section>